# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
dist/
*.tsbuildinfo

# AWS CDK
cdk.out/
.cdk.staging/
cdk.context.json

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
